###                     **Named Entity Recognition (NER): Exercises**

In [1]:
#importing necessary libraries 
import spacy

nlp = spacy.load("en_core_web_sm")  #creating an object and loading the pre-trained model for "English"

#### **Excersie: 1**

- Extract all the Geographical (cities, Countries, states) names from a given text

In [4]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [15]:
location=[]
for ents in doc.ents:
    if (ents.label_ in ["GPE"]):
        location.append(ents)
print(location)

[India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]

In [27]:
len(location)

8

**Expected Output:**

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]

Count:  7

#### **Excersie: 2**

- Extract all the birth dates of cricketers in the given Text

In [22]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [45]:
dob = []
for ent in doc.ents:
    if (ent.label_ in ['DATE'] ):
        dob.append(ent)

In [46]:
dob

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

In [47]:
len(dob)

4

**Expected Output:**

All Birth Dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

Count:  4

<h2 style="color:purple">Nasir Hussain</h2>
<h2 style="color:purple">Dept. CS QAU 2024</h2>